<footer class="crownfon">
    <div class="f__fon animate bounceInUp">
        <div class="mid">
            <hr class="line__menu">
                <ul class="menu__ul__f">
					<% Category.roots.each do |category| %>
                    <li class="menu__f">
                <%= link_to category.name, category, class: "menu__a__f" %>
                <%= render 'shared/submenu_categories', categories: category.root.descendants.arrange %>   
                    </li>
                    <% end %>
				</ul>
        </div>
    </div>
    
           <div class="author">
                    <div class="mid clearfix">
                    <span class="author__name left">2017©FreezkoS</span>
                        <div class="vk__logo right"><span class="vk__text">Мы Вконтакте </span>
                            <a href="https://vk.com/club94768358" target="_blank">
                            <%= image_tag('vk.png', :alt => "logo", :class => 'img__vk') %></a>
                            </div>
                    </div>
                </div>
</footer>