<div class="mid2 clearfix">    
<div class="tag__style">
        <% tag_cloud(Tag.counts, %w{tag1, tag2, tag3, tag4}) do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: 'css_class no__link tag__a' %>
        <% end %>   
    </div>
    <div class="zagolovok">
<h1 class="items__text"><%= @tag.name %></h1>
</div>  
<% if @tag.posts.empty? %>
    <h2>Мебели под этим тегом нет в каталоге</h2>
<% else %>
<%= render @tag.posts %>
<%end%>
</div>