<div class="mid2 margin">
    <% if user_signed_in? && current_user.admin? %>
<%= link_to 'Новый объект', new_admin_post_path, class: 'btn btn-outline-primary pull-xxs-right' %>   
    <% end %>
</div>
<div class="mid clearfix">
    <div class="zagolovok"> 
<h1 class="items__text">Вся мебель</h1>
    </div>
<!--Вывод кухон-->
<%= render @posts %>
<!--Вывод кухон после пагинации-->
<div class="kit_pag">
<%= paginate @posts, window: 1 %>
</div>
</div>
