<div class="mid2 clearfix">
    <div class="tag__style">
        <% tag_cloud(Tag.counts, %w{tag1, tag2, tag3, tag4}) do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: 'css_class no__link tag__a' %>
        <% end %>   
    </div>
<div class="zagolovok">
<h1 class="items__text"><%= @category.name %></h1>
</div>    
    <% session[:name] = @category.name %>
 

<section id="posts">
<%= render @posts %>
</section>

<!--Вывод кухон после пагинации-->
<div class="kit_pag">
      <%= paginate @posts, window: 2 %>
</div>
  
</div>
